
@{
    ViewBag.Title = "RenInfo";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<style>
    table{
        width:500px;
        margin:15px auto;
        
    }
    tr, td, th {
        width: 50px;
        height: 30px;
        border: 1px solid #000000;
        text-align: center;
    }
    .search-box{
        width:400px;
        margin:5px auto;
    }
</style>
<h2 style="text-align:center;">租赁查询</h2>
<div class="search-box">
    <form class="searchForm" action="">
        <input id="search" type="text" placeholder="Search..">
        <button class="btn-search"><i class="fa fa-search"></i></button>
    </form>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>
                    寝室号
                </th>
                <th>
                    是否租赁空调
                </th>
                <th>
                    租赁起始日期
                </th>
                <th>
                    租赁截止日期
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>

    </table>
</div>

